<a href="https://colab.research.google.com/github/yegaanehrhvd/therudimentaries/blob/master/personaltweaks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#BinaryConverter
x = input("Type whatever you want:")
for i in x:
  r = []
  if i.isdigit():
    n = int(i)
  else:
    n = ord(i)
  if n == 0:
    r.append(0)
  while n > 0:
    n, remainder = divmod(n, 2)
    r.append(remainder)
  z = r[::-1]
  b = ''.join(str(nums) for nums in z)
  print(f"{i} equals {b}")

Type whatever you want:re45
r equals 1110010
e equals 1100101
4 equals 100
5 equals 101

In [ ]:
def collect_three_tuples():
    result = []

    for i in range(3):
        t = ()
        size = int(input(f"How many numbers in tuple {i+1}? "))
        for _ in range(size):
            x = int(input("Type a number: "))
            t += (x,)
        result.append(t)

    return result
t1, t2, t3 = collect_three_tuples()
print("Tuple 1:", t1)
print("Tuple 2:", t2)
print("Tuple 3:", t3)

How many numbers in tuple 1? 3
Type a number: 1
Type a number: 2
Type a number: 3
How many numbers in tuple 2? 3
Type a number: 1
Type a number: 2
Type a number: 3
How many numbers in tuple 3? 3
Type a number: 1
Type a number: 2
Type a number: 3
Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Tuple 3: (1, 2, 3)

In [ ]:
def multiple(x,y):
  x = 2
  y = [3,4]
  return x,y

x = 1
y = [1,2]
multiple(x,y)

(2, [3, 4])

In [ ]:
from datetime import datetime, timedelta
print(datetime.now())

2025-05-21 11:02:58.689133

In [ ]:
def fib(x):
  if x == 1:
    return 0
  if x in (2,3):
    return 1
  if x == 4:
    return 2
  if x > 4:
    return fib(x-1) + fib(x-2)
fib (8)

13

In [ ]:
from datetime import datetime, timedelta

today = datetime.now()
next_week = today + timedelta(days=7)

print("Today:", today)
print("Next week:", next_week)

Today: 2025-05-21 10:44:00.462093
Next week: 2025-05-28 10:44:00.462093

In [ ]:
phrase = input("Type out random words or numbers: ")
x = list(phrase)

for i in x:
    if i.isdigit():
        original = i  # save the original character
        i = int(i)
        b = []
        if i == 0:
            b.append(0)
        else:
            while i > 0:
                b.append(i % 2)
                i //= 2
        c = b[::-1]
        print(f"{original} is {c}")

for j in x:
    if not j.isdigit():
        original = j
        j = ord(j)
        d = []
        while j > 0:
            d.append(j % 2)
            j //= 2
        e = d[::-1]
        print(f"{original} is {e}")

Type out random words or numbers: man400
4 is [1, 0, 0]
0 is [0]
0 is [0]
m is [1, 1, 0, 1, 1, 0, 1]
a is [1, 1, 0, 0, 0, 0, 1]
n is [1, 1, 0, 1, 1, 1, 0]

In [ ]:
#PrimeGenerator
from math import sqrt, ceil
def PrimeProvider(n):
  primes = []
  for i in range(2, n+1):
    is_prime = True
    root = ceil(sqrt(i))
    for prime in primes:
      if prime > root:
        break
      else:
        if i % prime == 0:
          is_prime = False
          break
    if is_prime:
      primes.append(i)
  print(primes)

PrimeProvider(84)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]

In [ ]:
from functools import reduce
from operator import mul
def factorial(n):
  return reduce(mul, range(1, n+1), 1)
factorial(4)

24

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  if n == 1:
    return 1
  if n > 1:
    return (factorial(n-1) * n)
factorial(4)

24

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  if n == 1:
    return 1
  if n > 1:
    return (factorial(n-1) * n)

def combination(n,k):
  b = factorial(k)
  c = factorial(n)
  d = factorial(k-n)
  e = c * d
  return (b/e)


combination(3,9)

84.0

In [ ]:
def fib(n):
  if n <= 0:
    raise Exception("Negative numbers not allowed")
  elif n in range(1,3):
    return 1
  elif n>2:
    return (fib(n-1) + fib(n-2))
fib(8)

21

In [ ]:
def GCD_founder(a,b):
  c = []
  if a>b:
    for i in range(1,b+1):
      if a%i ==0 and b%i==0:
        c.append(i)
  elif b>a:
    for i in range(1,a+1):
      if a%i ==0 and b%i==0:
        c.append(i)
  else:
    return a
  max = -float("inf")
  for j in c:
    if j > max:
      max=j
  return max

GCD_founder(36,24)

12

In [ ]:
students_grades = {
    'Alice': {'Math': 88, 'Science': 92, 'English': 85},
    'Bob': {'Math': 75, 'Science': 78, 'English': 80},
    'Charlie': {'Math': 90, 'Science': 85, 'English': 87},
    'David': {'Math': 60, 'Science': 65},
    'Eva': {'Math': 95, 'Science': 98, 'English': 100}
}

subject_weights = {
    'Math': 0.3,
    'Science': 0.4,
    'English': 0.3
}

#operationNo1
n = int(input("What percentage increase do you have in mind?"))
for student, subjects in students_grades.items():
  for subject in subjects:
    old_grade = students_grades[student][subject]
    new_grade = old_grade + (old_grade*n) / 100
    if new_grade > 100:
      students_grades[student][subject] = old_grade
    else:
      students_grades[student][subject] = new_grade
for student, grades in students_grades.items():
  print(f"{student} : {grades}")

#OperationNo2
new_d = {}
new_d.update(students_grades)
for student, subjects in new_d.items():
  if 'Math' in subjects:
    subjects['Math'] = subjects['Math'] * 0.3
  if 'Science' in subjects:
    subjects['Science'] = subjects['Science'] * 0.4
  if 'English' in subjects:
    subjects['English'] = subjects['English'] * 0.3
for student, subjects in new_d.items():
  for subject in subjects:
    average = sum(subjects.values()) / len(subjects)
  print(f"{student} : {average}")

What percentage increase do you have in mind?5
Alice : {'Math': 92.4, 'Science': 96.6, 'English': 89.25}
Bob : {'Math': 78.75, 'Science': 81.9, 'English': 84.0}
Charlie : {'Math': 94.5, 'Science': 89.25, 'English': 91.35}
David : {'Math': 63.0, 'Science': 68.25}
Eva : {'Math': 99.75, 'Science': 98, 'English': 100}
Alice : 31.044999999999998
Bob : 27.195000000000004
Charlie : 30.485
David : 23.1
Eva : 33.041666666666664